.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: $body-color;

    @include medium-up {
        width: 90%;
        max-width: 1400px;

    }
}