.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 145px;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: $body-color;
    padding-bottom: 20px;

    &__logo {
        width: 150px;
        margin-left: 25px;
        align-self: center;
    }

    &__link {
        display: flex;
    }

    &__nav {
        background-color: $gray-1;
        position: absolute;
        display: none;
        width: 100%;
        padding: 25px 0;
        border-radius: 0 0 10px 10px;
        
        &--visible {
            display: flex;
            align-items: center;
            flex-flow: column nowrap;
            animation: opacity .5s;
            background-color: rgba(15, 15, 15, 0.8);
            backdrop-filter: blur(8px);
            top: 145px;

            @keyframes opacity {
                from {opacity: 0}
                to {opacity: 100}
            }              
        }

        @include medium-up {
            display: flex;
            top: 0;
            background-color: transparent;
            backdrop-filter: blur(0);
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        margin-right: 25px;
    }

    &__button {
        background-color: transparent;
        color: $gray-c;
        transition: color 0.5s;
        cursor: pointer;
        &:hover {
            color: white;
        }
        @include medium-up {
            display: none;
        }
    }

    &__icon {
        font-size: 3rem;
    }
}


