.nav {
    text-align: center;

    @include medium-up {
        display: flex;
        position: absolute;
        right: 135px;
        top: 40px;
        transform: translateY(-50%);
    }

    &__item {
        list-style: none;
        font-size: 1.3rem;
        text-transform: uppercase;
        line-height: 45px;
        letter-spacing: 1.5px;


        @include medium-up {
            font-size: 0.8rem;
            margin-left: 8px;
            margin-right: 8px;
            line-height: 1.3rem;
        }
    }

    &__link {
        color: $gray-c;
        transition: .5s;

        &:hover {
            color: white;
        }

        &--active {
            color: $bs-color;
        }
    }
}

