<div class="gallery none">
    <!-- title -->
    <div class="gallery_title">Tytuł galerii</div>
    <div class="gallery_description">Opis galerii</div>

    <!-- gallery -->
    <div class="gallery_grid">
        <template class="gallery_template">
            <div class="gallery_item">
                <img class="gallery_image">
            </div>
        </template>
    </div>
</div>

<!-- photo -->
<div class="photo none">
    <div class="photo_group">
        <img class="photo_image"></img>
        <div class="photo_arrow photo_arrow-previous"><i class="fa-solid fa-angle-left"></i></div>
        <div class="photo_arrow photo_arrow-close"><i class="fa-solid fa-xmark"></i></div>
        <div class="photo_arrow photo_arrow-next"><i class="fa-solid fa-angle-right"></i></div>
        <!-- <div class="photo_name">Nazwa zdjęcia</div> -->
    </div>
</div>