<!-- gallery -->
<div class="gallery none">
    <template class="gallery_template">
        <div class="gallery_item">
            <img class="gallery_image">
        </div>
    </template>
</div>

<!-- photo -->
<div class="photo none">
    <div class="photo_group">
        <div class="photo_arrow photo_previous"><i class="fa-solid fa-arrow-left"></i></div>
        <div class="photo_arrow photo_close"><i class="fa-solid fa-xmark"></i></div>
        <div class="photo_name">Nazwa zdjęcia</div>
        <img class="photo_image">
    </img>
    <div class="photo_arrow photo_next"><i class="fa-solid fa-arrow-right"></i></div>
    </div>
</div>