<div class="home">
    <div class="home__gallery">
        <div class="home__item">
            <a class="home__link" href="#">
                <img class="home__pic" src="https://images.pexels.com/photos/911758/pexels-photo-911758.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </a>
            <div class="home__text">
                <h2 class="home__title">Dom w Zelkowie</h2>
                <h4 class="home__subtitle">Kraków 2015</h4>
            </div>
        </div>
        <div class="home__item">
            <a class="home__link" href="#">
                <img class="home__pic" src="https://images.pexels.com/photos/2271683/pexels-photo-2271683.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </a>
        </div>
        <div class="home__item">
            <a class="home__link" href="#">
                <img class="home__pic" src="https://images.pexels.com/photos/911758/pexels-photo-911758.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </a>
        </div>
        <div class="home__item">
            <a class="home__link" href="#">
                <img class="home__pic" src="https://images.pexels.com/photos/2271683/pexels-photo-2271683.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </a>
        </div>
    </div>
</div>