<div class="home">
    <div class="home__gallery">

        <div class="home__item">
            <a class="home__link" href="/gallery1">
                <img class="home__pic" src="assets/gallery1/00.jpg" alt="Dom w Zelkowie">
                <div class="home__text">
                    <h2 class="home__title">Dom w Zelkowie</h2>
                    <h4 class="home__subtitle">2016</h4>
                </div>
            </a>
        </div>

        <div class="home__item">
            <a class="home__link" href="/gallery2">
                <img class="home__pic" src="assets/gallery2/00.jpg" alt="Dom w Burowie">
                <div class="home__text">
                    <h2 class="home__title">Dom w Burowie</h2>
                    <h4 class="home__subtitle">2015</h4>
                </div>
            </a>
        </div>

        <div class="home__item">
            <a class="home__link" href="/gallery3">
                <img class="home__pic" src="assets/gallery3/00.jpg" alt="Dom w Bystrej">
                <div class="home__text">
                    <h2 class="home__title">Dom w Bystrej</h2>
                    <h4 class="home__subtitle">2013</h4>
                </div>
            </a>
        </div>

        <div class="home__item">
            <a class="home__link" href="/gallery4">
                <img class="home__pic" src="assets/gallery4/00.jpg" alt="Dom w Krakowie">
                <div class="home__text">
                    <h2 class="home__title">Dom w Krakowie</h2>
                    <h4 class="home__subtitle">2015</h4>
                </div>
            </a>
        </div>
       
    </div>
</div>