html {
    --accent: #b3c501;
    --viewHeight: 95vh;
    --marginTop: 40px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px,1fr));
    margin: 30px;
    margin-top: var(--marginTop);
    gap: 10px;
}
.gallery_image {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--accent);
    transition: 0.5s
}
.gallery_image:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
}
.photo_group {
    position: relative;
}
.photo_arrow {
    font-size: 40px;
    color: #888;
    transition: 1s;
    z-index: 1;
}
.photo_arrow:hover {
    color: var(--accent);
    text-shadow: 0 0 20px var(--accent);
}
.photo_next {
    position: absolute;
    top: calc(var(--marginTop));
    padding: 35vh 50px 100%;
    right: 30px;
}
.photo_previous {
    position: absolute;
    top: calc(var(--marginTop));
    padding: 35vh 50px 100%;
    left: 30px;
    z-index: 2;
}
.photo_close {
    position: absolute;
    width: calc(100% - 100px);
    height: calc(100% - var(--marginTop) - 60px);
    top: calc(var(--marginTop) + 10px);
    left: 50px;
}
.photo_image {
    position: relative;
    max-width: calc(100vw - 60px);
    max-height: var(--viewHeight);
    margin: 30px;
    object-fit: cover;
    margin-top: var(--marginTop);
    box-shadow: 0 0 40px var(--accent);
    border-radius: 10px;
}
.photo_name {
    font-size: 1.2rem;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0px;
    bottom: 50px;
    text-shadow: 0 0 5px #fff;
    color: #000;
    z-index: 1;
}

.none {
    display: none;
}
.show {
    animation: show 1s;
}
.hide {
    animation: hide 1s;
}

@keyframes show {
    from {
        opacity: 0
    } to {
        opacity: 1
    }
}
@keyframes hide {
    from {
        opacity: 1
    } to {
        opacity: 0
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
